<div class="max-w-4xl mx-auto p-6">
  <h1 class="text-2xl font-bold mb-6">Novo Produto</h1>

  <%= form_with model: @product, local: true do |f| %>
    <div class="grid grid-cols-2 gap-4 mb-6">
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, class: "w-full border p-2 rounded" %>
      </div>

      <div>
        <%= f.label :price %>
        <%= f.number_field :price, step: 0.01, class: "w-full border p-2 rounded" %>
      </div>

      <div class="col-span-2">
        <%= f.label :description %>
        <%= f.text_area :description, class: "w-full border p-2 rounded" %>
      </div>

      <div>
        <%= f.label :category %>
        <%= f.text_field :category, class: "w-full border p-2 rounded" %>
      </div>
    </div>

    <div class="mb-6">
      <%= f.label :image, "Imagem do Produto", class: "block font-semibold mb-2" %>

      <%= f.file_field :image,
        accept: "image/*",
        class: "w-full border p-2 rounded" %>
    </div>
    <div class="mt-4">
      <img id="preview" class="w-32 h-32 object-cover rounded border hidden" />
    </div>

    <h2 class="text-xl font-semibold mb-4">Variações</h2>

    <div id="variants">
      <%= f.fields_for :product_variants do |variant| %>
        <%= render "variant_fields", f: variant %>
      <% end %>
    </div>

    <button type="button" id="add-variant"
      class="bg-blue-500 text-white px-4 py-2 rounded mb-4 cursor-pointer">
      + Adicionar variação
    </button>

    <div>
      <%= f.submit "Salvar Produto",
        class: "bg-green-500 text-white px-6 py-2 rounded cursor-pointer" %>
    </div>

  <% end %>
</div>

<script>
  function previewImage(event) {
    const img = document.getElementById('preview')
    const file = event.target.files[0]

    if (file) {
      img.src = URL.createObjectURL(file)
      img.classList.remove('hidden')
    }
  }
</script>
